<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets page</title>
  </head>
  <body>
    <h1>Secrets</h1>
    <hr>
    <% @secrets.each do |secret|%>
    <hr>
    <p><%= secret.content %></p>
    <p><%= secret.likes.count %> likes</p>
    <% if secret.likes.count != 0 %>
    <form class="" action="/likes/destroy/<%= secret.id%>/<%= session[:user_id]%>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="submit" name="unlike" value="Unlike">
    </form>
    <% else %>
    <form class="" action="/likes/create/<%= secret.id%>/<%=session[:user_id]%>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="submit" name="Like" value="Like">
    </form>
    <% end %>
    <% if @created_secret_id.include?(secret.id) %>
    <form class="" action="/secrets/destroy/<%= secret.id %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="submit" name="Delete" value="Delete">
    </form>
    <% end %>

    <% end %>
  </body>
</html>
